nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    color: black;
    
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    
}
nav ul li{
    padding:10px;
}

input[type="text"]{
    border: 1px solid gray;
    border-radius: 30px ;
    width: 200px;
}
input[type="date"]{
    border: 1px solid gray;
    border-radius: 30px ;
    width: 200px;
}


input:active{
    background-color: green;
    color: white;
    box-shadow: 10px 10px 5px black;
}

input[type="radio"]:active{
    accent-color: green;
    color: white;
    box-shadow: 10px 10px 5px black;
}

main > div{
    display: flex;
    justify-content: start;
}
main > div input{
    margin-left: 20px;
}
main > div label{
    margin-left: 20px;
}
main > div:first-of-type{
    background-color: green;
}
main > div:last-of-type{
    background-color: green;
}

main section:first-of-type > div:first-of-type{
    background-color: green;
    display: flex;
    justify-content: end;
}

main section:first-of-type > div:first-of-type p:last-of-type{
    margin-left: 400px;
    margin-right: 80px;
}

main section:first-of-type {
    display: flex;
    flex-direction: column;
    align-content: end;
    justify-content: space-between;
}
main section:first-of-type > div:last-of-type{
    
    display: flex;
    justify-content: end;
}

main section:first-of-type button{
    background-color: green;
    color: white;
}

main section:last-of-type{
    display: flex;
    flex-direction: column;
    align-items: end;
}


main section:last-of-type button{
    background-color: green;
    color: white;
    padding: 10px;
    margin: 8px;
}

main section:last-of-type input{
    margin-right: 8px;
}

main section:last-of-type img{
    margin-right: 8px;
}
main section:last-of-type p{
    margin-right: 8px;
}

main section:last-of-type {
    margin-left: 10px;
}